$bg-main: #355B3E;
$bg-lite-green: #029664;
$text-grey: #2F3D4C;
$text-lite-green: #58745E;
$text-green: #355B3E;
$border-lite-green: #B8D6BF;
$border-green: #029664;
$bg-block: #FFF;
$svg-lite-green: #95B29B;
$bg-car: #F5DBC4;
